USE master
GO
CREATE DATABASE PolyOEAsm
GO
USE PolyOEAsm
GO
CREATE TABLE Favorites(
	id bigint identity NOT NULL,
	userid varchar(20) NOT NULL,
	videoid varchar(20) NOT NULL,
	likedate date NOT NULL,
	CONSTRAINT PK_Username PRIMARY KEY CLUSTERED (id)
)
GO
CREATE TABLE Shares(
	id bigint identity NOT NULL,
	userid varchar(20) NOT NULL,
	videoid varchar(20) NOT NULL,
	emails varchar(250) NOT NULL,
	sharedate date NOT NULL
	CONSTRAINT PK_Shares PRIMARY KEY CLUSTERED (id)
)
GO
CREATE TABLE Users(
	username varchar(20) NOT NULL,
	password varchar(50) NOT NULL,
	fullname nvarchar(50) NOT NULL,
	email varchar(50) NOT NULL,
	admin bit NOT NULL,
	CONSTRAINT PK_Users PRIMARY KEY CLUSTERED (username)
)
GO
CREATE TABLE Videos(
	id varchar(20) NOT NULL,
	title nvarchar(1000) NOT NULL,
	poster varchar(50) NULL,
	views int NOT NULL,
	description nvarchar(max) NULL,
	active bit NOT NULL,
	code varchar(500) NOT NULL,
	CONSTRAINT PK_Videos PRIMARY KEY CLUSTERED (id)
)
GO

SET IDENTITY_INSERT Favorites ON
INSERT Favorites (id, userid, videoid, likedate) VALUES (1, 'admin', 'vd1', CAST(N'2021-02-02' AS Date))
INSERT Favorites (id, userid, videoid, likedate) VALUES (2, 'duyplus', 'vd2', CAST(N'2021-03-12' AS Date))
INSERT Favorites (id, userid, videoid, likedate) VALUES (3, 'duyplus', 'vd3', CAST(N'2021-05-15' AS Date))
SET IDENTITY_INSERT Favorites OFF

SET IDENTITY_INSERT Shares ON
INSERT Shares (id, userid, videoid, emails, sharedate) VALUES (1, 'admin', 'vd1', 'duyplusdz@gmail.com', CAST(N'2022-02-06' AS Date))
INSERT Shares (id, userid, videoid, emails, sharedate) VALUES (2, 'admin', 'vd3', 'duyplusdz@gmail.com', CAST(N'2022-02-06' AS Date))
INSERT Shares (id, userid, videoid, emails, sharedate) VALUES (3, 'duyplus', 'vd3', 'duyplusdz@gmail.com', CAST(N'2022-02-06' AS Date))
SET IDENTITY_INSERT Shares OFF

INSERT Users (username, password, fullname, email, admin) VALUES ('admin', '123', N'Văn Tèo', 'admin@gmail.com', 1)
INSERT Users (username, password, fullname, email, admin) VALUES ('danhloi', '823806', N'Danh Lợi', 'danhloi@gmail.com', 0)
INSERT Users (username, password, fullname, email, admin) VALUES ('ducduy', '525090', N'Đức Duy', 'ducduy@gmail.com', 0)

INSERT Videos (id, title, poster, views, description, active, code) VALUES ('vd1', N'Iron Man', 'uploads/VD01.jpg', 123, N'Mô tả video', 1, 'https://www.youtube.com/embed/Y44Wgsg-kLc')
INSERT Videos (id, title, poster, views, description, active, code) VALUES ('vd2', N'The Incredible Hulk', 'uploads/VD01.jpg', 123, N'Mô tả video', 1, 'https://www.youtube.com/embed/Y44Wgsg-kLc')
INSERT Videos (id, title, poster, views, description, active, code) VALUES ('vd3', N'Iron Man 2', 'uploads/VD01.jpg', 123, N'Mô tả video', 1, 'https://www.youtube.com/embed/Y44Wgsg-kLc')
GO
-- Khoá phụ
ALTER TABLE Favorites WITH CHECK ADD CONSTRAINT FK_FAVORITES_USERS FOREIGN KEY(userid)
REFERENCES Users (username) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Favorites CHECK CONSTRAINT FK_FAVORITES_USERS
GO
ALTER TABLE Favorites WITH CHECK ADD CONSTRAINT FK_FAVORITES_VidEOS FOREIGN KEY(videoid)
REFERENCES Videos (id) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Favorites CHECK CONSTRAINT FK_FAVORITES_VidEOS
GO
ALTER TABLE Shares WITH CHECK ADD CONSTRAINT FK_SHARES_USERS FOREIGN KEY(userid)
REFERENCES Users (username) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Shares CHECK CONSTRAINT FK_SHARES_USERS
GO
ALTER TABLE Shares WITH CHECK ADD CONSTRAINT FK_SHARES_VidEOS FOREIGN KEY(videoid)
REFERENCES Videos (id) ON UPDATE CASCADE ON DELETE CASCADE
GO
ALTER TABLE Shares CHECK CONSTRAINT FK_SHARES_VidEOS
GO

